:root {
  --dark: #182c3b;
  --darker: #09131b;
}

body {
  background: var(--dark);
}

nav {
  background: var(--darker);
}

#projects h1 {
  text-align: center;
}

.card:hover {
  opacity: 0.9;
  cursor: pointer;
}

footer {
  background: var(--darker);
}
